<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="text-center">About Us</h1>
      <p>We are DevMatch. Our company focuses on creating an exclusive community
      developers, entrepreneurs and investors to meet, share their ideas, support and inspire each other.</p>
      <br/>
      <br/>
      <p><b>Note:</b><br/>This application was built during a ruby-on-rails tutorial 
      for training purposes only. For that reason, some functionalities are disabled now.
      The project scope was to build an online platform for a fictitious start-up called DevMatch,
      composed of HTML, CSS/SCSS, Javascript, Ruby on Rails, using Git, Bootstrap, 
      e-commerce tools etc. It features user registration/authentication, user profiles including image upload,
      contact form, email notifications, subscription for basic or premium membership and billing.</p>
     </div>
  </div>
</div>
