.avatar-show-img {
    width: 128px;
    height: 128px;
}

.well.profile-block {
    color: #ffffff;
    margin-top: 20px;
    h4 {
      margin-top: 0;
    }
}

.well.profile-description {
  background-color: #ff6b6b;
  border-color: #dd4242;
}

.well.profile-contact-info {
  background-color: #ffc371;
  border-color: #f2ae52;
}

.job-title-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  color: #ffffff;
  background-color: #ff6b6b;
  border-radius: 4px;
  text-align: center;
}

// Index page styles
.user-index-avatar {
  width: 128px;
  height: 128px;
  border-radius: 50%;
}

.well.grey-bg {
  background-color: #eaeaea;
}